.product {
    width: 45%;
    max-width: 300px;
}

@media (max-width: 768px) {
    .product {
        width: 100%;
        flex: 0 0 auto;
    }
}

.product figure {
    border: 2px solid var(--grey20);
    border-radius: 5px;
    background: var(--grey0);
    text-align: center;
}

.product img {
    max-height: 150px;
    height: 100%;
}

.product figcaption {
    padding: 26px 21px;
    background: #fff;
    text-align: left;
}

.product figcaption strong {
    display: block;
    margin-bottom: 16px;
}